html, body {
    height: 100%;
    margin: 0;
    background-color: #444;
}

form {
    width: 70%;
    height: 80%;
    padding: 5%;
    background-color: #222;
    border-color: #080808;
    color: #fff;
    border-radius: 3%;
}

table > thead { background-color: black; }

table > tbody > tr > td > .glyphicon-edit {
    margin-left: 3px;
    float: left;
}

table > tbody > tr > td > .glyphicon-minus-sign {
    margin-right: 3px;
    float: right;
}

table > tbody > tr > td > textarea, select {
    background-color: #222;
}

.pageContent {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.navbar-global {
    background-color: black;
    margin: 0px;
}

.navbar-global .navbar-brand { color: white; }

.navbar-global .navbar-user > li > a { color: white; }

.navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    /* z-index: 8;
  overflow: hidden; */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-primary.collapsed { width: 60px; }

.navbar-primary.collapsed .glyphicon { font-size: 22px; }

.navbar-primary.collapsed .nav-label { display: none; }

.navbarIncontent { position: relative; }

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active { background-color: #111; }

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom: solid 1px #444;
    border-top: solid 1px #444;
    color: #ccc;
}

.navbar-primary-menu li a:hover, .active {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon { margin-right: 6px; }

.navbar-primary-menu li a:hover .glyphicon { color: orchid; }

.main-content {
    margin-top: 50px;
    margin-left: 200px;
    padding-left: 1px;
    height: 100%;
}

.collapsed + .main-content { margin-left: 60px; }

.contentMenu {
    float: left;
    height: 100%;
}

.contentMenu > .navbar-primary {
    position: inherit;
    height: 92%;
    overflow: auto;
    padding-top: 10px;
    width: auto;
}

.content {
    height: 100%;
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 3%;
}

.content2 {
    height: 100%;
    padding-left: 20%;
    padding-top: 3%;
}

.formImage {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 60%;
    width: 40%;
}

.formSeperator { margin-top: 30%; }

.img { height: 100%; }

.menuArrow {
    float: right;
    margin-left: 10px;
    color: #333;
}

.buttons {
    background-color: black;
    color: white;
}

.addButton {
    float: right;
    margin-bottom: 30px;
}

.button-Proceed { margin-top: 5%; }

.listTable {
    background-color: #222;
    border: solid #000;
    color: white;
}

.smallForm {
    font-size: 0.9vw;
    float: left;
    margin-right: 15px;
    width: 30%;
    height: auto;
    padding: 3%;
    /*padding-top: 1%;*/
}