@{
    ViewBag.Title = "Kişi Güncelle";
}

<nav class="navbar-primary" id="navbar1">
    <a class="btn-expand-collapse" onclick="collapseMenu(1);">
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <ul class="navbar-primary-menu">
        <li>
            <a href="/Personel/UrunListele">
                <span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Ürün İşlemleri</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
            <a href="/Personel/StokListele">
                <span class="glyphicon glyphicon-th-list"></span><span class="nav-label">Stok İşlemleri</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
            <a class="active">
                <span class="glyphicon glyphicon-shopping-cart"></span><span class="nav-label">Kurumsal</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
        </li>
    </ul>
</nav>


<div class="main-content">
    <div class="content">
        <form>
            <h3>Kişi Güncelle</h3>
            <table>
                <tr>
                    <td>
                        <label for="adi">Adı: </label>
                    </td>
                    <td>
                        <input class="form-control" id="adi" type="text" value="Ömer">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="formSeperator"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="soyad">Soyadı: </label>
                    </td>
                    <td>
                        <input class="form-control" id="soyad" type="text" value="Faruk">
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="formSeperator"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rolu">Rolü: </label>
                    </td>
                    <td>
                        <select id="rolu">
                            <option>Müşteri</option>
                            <option selected="selected">Çalışan</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="formSeperator"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="adres">Adres: </label>
                    </td>
                    <td>
                        <textarea id="adres">Adres</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="formSeperator"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn buttons" type="submit" value="Kaydet">
                    </td>
                </tr>
                <div class="formImage">
                    <img class="img img-thumbnail img-responsive" src="~/Assets/img.jpg" alt="Ürün Resmi" height="400" width="400">
                </div>
            </table>
        </form>
    </div>

</div>