@{
    ViewBag.Title = "Müşteri Ekle";
}

@{ ViewData["activePage"] = 2; }
@Html.Partial("Partial/PersonelMenu")


<div class="main-content">
    <div class="content">

        <form action="/MusteriData/MusteriEkle" method="post">
            <h3>Müşteri Ekle</h3>

            <div class="formContentLeft">
                <div class="form-group">
                    <label for="isim">Ad:</label>
                    <input class="form-control" id="isim" name="isim" type="text" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label for="sifre">Şifre:</label>
                    <input class="form-control" id="sifre" name="sifre" type="text">
                </div>

                <div class="form-group">
                    <label for="telefon">Telefon:</label>
                    <input class="form-control" type="text" id="telefon" name="telefon"/>
                </div>

                <div class="form-group">
                    <label for="mailAdres">Mail Adresi:</label>
                    <input class="form-control" type="email" id="mailAdres" name="mailAdres"/>
                </div>

                <div class="form-group">
                    <label for="adres">Adres:</label>
                    <textarea class="form-control" id="adres" name="adres"></textarea>
                </div>
            </div>

            <div class="formContentRight">                
                <div class="form-group">
                    <label for="resim">Resim:</label>
                    <input type="file" id="resim" name="resim"/>
                </div>

                <div class="form-group">
                    <img class="img img-thumbnail img-responsive" alt="Resim yok" height="400" width="400">
                </div>
            </div>
            
            <div class="form-group">
                <input class="form-control btn buttons" type="submit" value="Kaydet">
            </div>
        </form>
    </div>

</div>