@{
    ViewBag.Title = "Stok Listele";
}

@*<nav class="navbar-primary" id="navbar1">
    <a class="btn-expand-collapse" onclick="collapseMenu(1);">
        <span class="glyphicon glyphicon-menu-left"></span>
    </a>
    <ul class="navbar-primary-menu">
        <li>
            <a href="/Personel/UrunListele">
                <span class="glyphicon glyphicon-envelope"></span><span class="nav-label">Ürün İşlemleri</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
            <a href="" class="active">
                <span class="glyphicon glyphicon-th-list"></span><span class="nav-label">Stok İşlemleri</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
            <a href="/Personel/KisiListele">
                <span class="glyphicon glyphicon-shopping-cart"></span><span class="nav-label">Kurumsal</span><span class="glyphicon glyphicon-arrow-right menuArrow"></span>
            </a>
        </li>
    </ul>
</nav>*@

@{ ViewData["activePage"] = 1; }
@Html.Partial("Partial/PersonelMenu")


<div class="main-content">

    <div class="content">
        <button class="btn buttons addButton btn-lg" onclick="location.href = '/Personel/StokEkle'">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <table class="table table-bordered listTable">
            <thead>
            <tr>
                <td>Durum</td>
                <td>Ürün Adı</td>
                <td>Miktarı</td>
                <td>Adet Fiyatı</td>
                <td>Toplam Maliyet</td>
                <td>İşlemler</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Var</td>
                <td>Ürün 1</td>
                <td>200</td>
                <td>1100€</td>
                <td>22000€</td>
                <td>
                    <a href="/Personel/StokGuncelle">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Yok</td>
                <td>Ürün 2</td>
                <td>0</td>
                <td>50€</td>
                <td>0€</td>
                <td>
                    <a href="/Personel/StokGuncelle">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Var</td>
                <td>Ürün 3</td>
                <td>350</td>
                <td>50€</td>
                <td>17500€</td>
                <td>
                    <a href="/Personel/StokGuncelle">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Var</td>
                <td>Ürün 4</td>
                <td>500</td>
                <td>10€</td>
                <td>5000€</td>
                <td>
                    <a href="/Personel/StokGuncelle">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>