@{
    ViewBag.Title = "Stok Ekle";
}

@{ ViewData["activePage"] = 1; }
@Html.Partial("Partial/PersonelMenu")

@model IEnumerable<stokYonetimi.Models.Urun>

<div class="main-content">
    <div class="content">

        <form action="/StokData/StokEkle" method="post">
            <h3>Ürün Ekle</h3>

            <div class="formContentLeft">
                <div class="form-group">
                    <label for="urunId">Ürün:</label>
                    <select id="urunId" name="urunId" size="1">
                        @foreach (var urun in Model) {
                            <option value="@urun.urunId">@urun.isim</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label for="miktar">Miktar:</label>
                    <input class="form-control" id="miktar" name="miktar" type="text"/>
                </div>

                <div class="form-group">
                    <label for="adetFiyat">Adet Fiyat:</label>
                    <input class="form-control" type="text" id="adetFiyat" name="adetFiyat"/>
                </div>
            </div>

            <div class="form-group">
                <input class="form-control btn buttons" type="submit" value="Kaydet"/>
            </div>
        </form>
    </div>

</div>