@{
    ViewBag.Title = "Login";

    try {
        if (TempData["loginError"] != null && (bool) TempData["loginError"]) {
            <script>
                window.loginError = true;
            </script>
        }

        if (TempData["authError"] != null && ((bool) TempData["authError"])) {
            <script>
                window.authError = true;
            </script>
        }
    }
    catch (Exception e) {
        <script>
            window.serverError = true;
        </script>
    }
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Company Name</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <div class="alert" id="pageMessage" style="display: none"></div>
            <form class="form-horizontal" method="post" onsubmit="return formControl()">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-primary btn-lg btn-block buttons login-button" value="Sign in"/>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
        /*
    /* Created by Filipe Pina
     * Specific styles of signin, register, component
     */
        /*
     * General styles
     */

    body,
    html {
        height: 100%;
        background-repeat: no-repeat;
        /*background-color: #d3d3d3;*/
        font-family: 'Oxygen', sans-serif;
    }

    form {
        background-color: initial;
        color: initial;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
        color: lightcyan;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group { margin-bottom: 15px; }

    label { margin-bottom: 15px; }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: lightgray;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 30px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;
    }

    .login-button { margin-top: 5px; }
</style>